<div class="mi-se-roll-dialog">
  <div class="mi-se-roll-header">
    <span class="mi-se-roll-title">Grip</span>
    <span class="mi-se-roll-subtitle">{{attackerName}} grips {{defenderName}}</span>
  </div>
  <div class="mi-se-roll-body">
    <p class="mi-se-roll-note">{{attackerName}}: choose which skill {{defenderName}} must beat to break free.</p>
  </div>
</div>
